/* Reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background:#f8fafc;
    color: #1e293b;
}

/* Navbar*/

nav{
    background: #020617;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
}

nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
 nav a:hover {
    color:#082735;

 }

 /* Home */
  
 .hero{
    background: linear-gradient(to right, #020617, #1e293b);
    color: white;
    text-align: center;
    padding: 20px 20px; 
 }
 .hero h2 {
    font-size: 42px;
    margin-bottom: 10px;
 }
 .btn {
    display: inline-block;
    margin-top: 20px;
    background: #38bdf8;
    color: #020618;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
 }

 /*About*/
 .about {
    padding: 60px 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}


/*Projects*/
.projects {
    background: #e2e8f0;
    padding: 60px 20px;
    text-align: center;
}

.project-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project {
    background: white;
    width: 250px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Skills */
.skills {
    padding: 60px 20px;
    text-align: center;
}

.skill-list {
    margin-top: 20px;
}

.skill-list span {
    background: #1e293b;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
}

/* Contact */
.contact {
    background: linear-gradient(to right, #020617, #1e293b);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    background:#38bdf8;
    color: #000000;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #025781;
}

/* Footer */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}